@model RestoHub.Models.Restoranlar
@{
    ViewBag.Title = "Delete";
}

<h3>Bu restoranı silmek istediğinizden emin misiniz?</h3>
<hr />
<div>
    <dl class="dl-horizontal">
        <dt>RESTORAN ADI</dt>
        <dd>@Html.DisplayFor(model => model.RestoranAdi)</dd>

        <dt>TELEFON</dt>
        <dd>@Html.DisplayFor(model => model.Telefon)</dd>

        <dt>E-MAİL</dt>
        <dd>@Html.DisplayFor(model => model.Email)</dd>

        <dt>ADRES</dt>
        <dd>@Html.DisplayFor(model => model.Adres)</dd>

        <dt>RESTORAN DURUMU</dt>
        <dd>
            @if (Model.Aktif)
            {
                <span class="badge bg-success">AKTİF</span>
            }
            else
            {
                <span class="badge bg-danger">PASİF</span>
            }
        </dd>

        <dt>OLUŞTURULMA TARİHİ</dt>
        <dd>
            @(Model.OlusturmaTarihi == DateTime.MinValue ? "-" : Model.OlusturmaTarihi.ToShortDateString())
        </dd>

        <dt>GÜNCELLENME TARİHİ</dt>
        <dd>@(Model.GuncellemeTarihi.HasValue ? Model.GuncellemeTarihi.Value.ToShortDateString() : "-")</dd>
    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="form-actions no-color">
            <input type="submit" value="SİL" class="btn btn-danger" /> |
            @Html.ActionLink("TÜM RESTORANLAR", "Index", null, new { @class = "btn btn-primary" })
        </div>
    }
</div>