@model RestoHub.Models.Urunler
@{
    ViewBag.Title = "Edit";
    int yetkiId = Session["YetkiId"] != null ? (int)Session["YetkiId"] : 0;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Ürün Güncelle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UrunId)
        @Html.HiddenFor(model => model.OlusturmaTarihi)

        @if (yetkiId == 1)
        {
            <div class="form-group">
                @Html.Label("RESTORAN ADI", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RestoranId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RestoranId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.RestoranId)
        }

        <div class="form-group">
            @Html.Label("KATEGORİ ADI", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("KategoriId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KategoriId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("BİRİMİ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("BirimId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.BirimId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ÜRÜN KODU", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunKodu, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunKodu, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ÜRÜN ADI", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.UrunAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.UrunAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("AÇIKLAMA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Aciklama, 5, 20, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Aciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("KISA AÇIKLAMA", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.KisaAciklama, 3, 20, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.KisaAciklama, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("FİYAT", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Fiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("MALİYET FİYATI", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.MaliyetFiyati, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MaliyetFiyati, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("İNDİRİMLİ FİYAT", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IndirimliFiyat, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.IndirimliFiyat, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("HAZIRLANMA SÜRESİ (dakika)", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.HazirlamaSuresi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.HazirlamaSuresi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("STOK DURUMU", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    STOKTA: @Html.RadioButtonFor(model => model.StokDurumu, true)
                    STOKTA DEĞİL: @Html.RadioButtonFor(model => model.StokDurumu, false)
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ÜRÜN DURUMU", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    AKTİF: @Html.RadioButtonFor(model => model.Aktif, true)
                    PASİF: @Html.RadioButtonFor(model => model.Aktif, false)
                </div>
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="GÜNCELLE" class="btn btn-primary" /> |
                @Html.ActionLink("TÜM ÜRÜNLER", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}