@model RestoHub.Models.Kullanicilar
@{
    ViewBag.Title = "Edit";
    int yetkiId = Session["YetkiId"] != null ? (int)Session["YetkiId"] : 0;
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h4>Kullanıcı Güncelle</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.KullaniciId)

        @* Restoran dropdown sadece SuperAdmin'e, diğerleri hidden *@
        @if (yetkiId == 1)
        {
            <div class="form-group">
                @Html.Label("RESTORAN", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("RestoranId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.RestoranId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.RestoranId)
        }

        @* Yetki dropdown sadece SuperAdmin ve RestoranSahibi'ne, Müdür değiştiremez *@
        @if (yetkiId == 1 || yetkiId == 2)
        {
            <div class="form-group">
                @Html.Label("YETKİ", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("YetkiId", null, "Seçiniz", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.YetkiId, "", new { @class = "text-danger" })
                </div>
            </div>
        }
        else
        {
            @Html.HiddenFor(model => model.YetkiId)
        }

        <div class="form-group">
            @Html.Label("KULLANICI ADI", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.KullaniciAdi, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.KullaniciAdi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("ŞİFRE", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Sifre, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Sifre, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("AD", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Ad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Ad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("SOYAD", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Soyad, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Soyad, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("E-MAİL", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("TELEFON", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Telefon, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Telefon, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.Label("KULLANICI DURUMU", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                <div class="checkbox">
                    AKTİF: @Html.RadioButtonFor(model => model.Aktif, true)
                    PASİF: @Html.RadioButtonFor(model => model.Aktif, false)
                    @Html.ValidationMessageFor(model => model.Aktif, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            @Html.Label("BAŞLAMA TARİHİ", new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.BaslamaTarihi, new { htmlAttributes = new { @class = "form-control", type = "date" } })
                @Html.ValidationMessageFor(model => model.BaslamaTarihi, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="GÜNCELLE" class="btn btn-primary" /> |
                @Html.ActionLink("TÜM KULLANICILAR", "Index", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}